{% load static %}

<nav class="navbar-container" style="justify-content: space-between;">
    
    <div style="display: flex; gap: 20px; align-items: center;">
        <img src="{% static 'images/lion.png' %}" alt="로고" class="logo" style="width: 40px;">
        
        <a class="navbar-link" href="{% url 'main:mainpage' %}">DGU_likelion_14th</a>
        <a class="navbar-link" href="{% url 'main:postpage' %}">게시판</a> 
        <a class="navbar-link" href="{% url 'main:tag_list' %}">태그</a>     
        <a class="navbar-link" href="{% url 'main:secondpage' %}">Second Page</a>
    </div>


    <div class="header-right" style="display: flex; align-items: center; gap: 15px;">
        {% if user.is_authenticated %}
            <div style="color: white;">{{ user.username }}님 안녕하세요!</div>
            <div class="auth-links" style="display: flex; gap: 10px;">
                <a class="navbar-link" href="{% url 'accounts:logout' %}">로그아웃</a> 
                <a class="navbar-link" href="{% url 'users:mypage' request.user.id %}">마이페이지</a> 
            </div>
        {% else %}
            <div class="auth-links" style="display: flex; gap: 10px;">
                <a class="navbar-link" href="{% url 'accounts:login' %}">로그인</a>
                <a class="navbar-link" href="{% url 'accounts:signup' %}">회원가입</a>
            </div>
        {% endif %}
    </div>
</nav>